#assignations_tab{
    -fx-border-width: 1px;
}
.assignationsGrid{
    -fx-padding: 5 80 -10 0;
    -fx-alignment: center;
}

.navireAllie{
    -fx-fill: lightblue;
}
.navireAdverse{
    -fx-fill: rgba(255, 2, 5, 0.64);
}
.navireSquare{
    -fx-spacing: 5;
}
.navireOK{
}

.NavLabel{
    -fx-font-weight: bold;
    -fx-padding: 0 0 10 0;
}

.leftSideScreen{
    -fx-padding: 0 0 0 50;
    -fx-spacing: 50;
    -fx-alignment: center;
}

.rightSideScreen{

}
#panneau{
    -fx-alignment: center;
    -fx-vgap: 0.3em;
}
.letterIndic{
    -fx-padding: 0 25 0 25;
}
.digitIndic{
    -fx-padding: 0 10 0 0;
}

.rowDigit{
    -fx-padding: 2 5 2 5;
    -fx-alignment: center;
}

.caseButton{
    -fx-pref-width: 60px;
    -fx-pref-height: 60px;
}

#afficheAdverse{

}

#afficheAllie{

}

#readyButton{
}

#abandonButton{
}

#rightSideButtons{
    -fx-padding: 50 0 0 0;
    -fx-spacing: 10;
}

/* Indication on game phases*/
#labelIndication{
    -fx-padding: 20 0 0 0 ;
}

#placementNavireIndication{
    -fx-padding: 20 0 0 0 ;
}

.bateau{
    -fx-background-color: lightblue;
}

.possiblePlacement{
    -fx-background-color: pink;
}

.nothingToShoot{
    -fx-background-image: url("../img/dot.jpg");
}

.shotted{
    -fx-background-image: url("../img/redCross.jpg");
}