.navireSquare{
    -fx-spacing: 5;
}
.navireOK{
}

.NavLabel{
    -fx-font-weight: bold;
    -fx-padding: 0 0 10 0;
}

.leftSideScreen{
    -fx-padding: 0 0 0 50;
    -fx-spacing: 50;
    -fx-alignment: center;
}

#panneau{
    -fx-alignment: center;
    -fx-vgap: 0.3em;
}
#panneauAdverse{
    -fx-alignment: center;
    -fx-vgap: 0.3em;
}
.letterIndic{
    -fx-padding: 0 25 0 25;
}
.digitIndic{
    -fx-padding: 0 10 0 0;
}

.rowDigit{
    -fx-padding: 2 5 2 5;
    -fx-alignment: center;
}

.caseButton{
    -fx-pref-width: 60px;
    -fx-pref-height: 60px;
}


#rightSideButtons{
    -fx-padding: 50 0 0 0;
    -fx-spacing: 10;
}

/* Indication on game phases*/
#labelIndication{
    -fx-padding: 20 0 0 0 ;
}

#placementNavireIndication{
    -fx-padding: 20 0 0 0 ;
}

.bateau{
    -fx-background-color: lightblue;
}

.possibleFire{
    -fx-background-color: red;
}

#typeMatelot{
    -fx-alignment: center;
    -fx-padding: 0 0 0 100;
}

.nothingToShoot{
    -fx-background-image: url("../img/dot.jpg");
}

.shotted{
    -fx-background-image: url("../img/redCross.jpg");
}
